# ==========================
# Terraform
# ==========================
# Ignore all .terraform directories anywhere
**/.terraform/

# Ignore state and plan files
*.tfstate
*.tfstate.*
*.tfplan
crash.log
.terraform.lock.hcl

terraform.tfvars
*.auto.tfvars

# ==========================
# Python
# ==========================
# Ignore bytecode
**/__pycache__/
*.py[cod]
*$py.class
**/lambdas/lambda_layers/

# Ignore virtual environments (anywhere in project)
**/.venv/
**/venv/
**/ENV/
**/env/

# Ignore distribution / packaging
*.egg-info/
*.egg
*.whl
dist/
build/

# Ignore pip cache
pip-log.txt

# Testing / coverage
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# ==========================
# OS / Editor junk
# ==========================
.DS_Store
*.swp
*.swo
*.bak
*.tmp