openapi: 3.0.3
info:
  title: Atlantic Meat API 1.0
  description: |-
    This is a sample Maintenance and Asset Management API based on the OpenAPI 3.0 specification.
    You can find out more about Swagger at [https://swagger.io](https://swagger.io). 
    In this API, we've adopted a design-first approach to make it easier to manage users, projects, and assets.
    You can help improve the API by updating the definition or the implementation. Over time, this will allow us to enhance features and expose new capabilities in OAS3.

    _If you're looking for the Swagger 2.0/OAS 2.0 version of Petstore, then click [here](https://editor.swagger.io/?url=https://petstore.swagger.io/v2/swagger.yaml). Alternatively, you can load via the `Edit > Load Petstore OAS 2.0` menu option!_
    
    Some useful links:
    - [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)
    - [The source API definition for the Pet Store](https://github.com/swagger-api/swagger- - -petstore/blob/master/src/main/resources/openapi.yaml)
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://crud-nosql.app.fabian-portfolio.net
  # https://txq4ruy68k.execute-api.af-south-1.amazonaws.com/dev
tags:
  - name: Atlantic Meat
    description: '' 
    externalDocs:
      description: Find out more
      url: https://crud-nosql.app.fabian-portfolio.net
  # - name: store
  #   description: Access to Petstore orders
  #   externalDocs:
  #     description: Find out more about our store
  #     url: http://swagger.io
  # - name: user
  #   description: Operations about user
  
  # /jobs:
  # get:
  #   summary: Get all jobs (filterable)
  #   parameters:
  #     - name: status
  #       in: query
  #       schema:
  #         type: string
  #         enum: [pending, in_progress, rejected, completed]
paths:
  /jobs/requests:
    get:
      tags:
        - jobs
      summary: get all the jobs from database (filterable)
      description: Get all jobs from the database
      x-lambda-runtime: python v3.12
      x-lambda-function: getJobsList.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: getJobsList
      parameters:
       - name: status
         in: query
         schema:
           type: string
           enum: [pending, in_progress, rejected, completed]
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Job not found
        '405':
          description: Validation exception
      security:
        - BearerAuth: []
        
    post:
      tags:
        - jobs
      summary: Create a new job request Set "status ==== pending"
      description: Add a request to the requests database
      x-lambda-runtime: python v3.12
      x-lambda-function: postJobRequest.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: addNewJob
      requestBody:
        description: Create a new pet in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'          
        '405':
          description: Invalid input
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  
  /jobs/actioned:
    get:
      tags:
        - jobs
      summary: get all the jobs completed from database (filterable)
      description: Get all jobs from the database
      x-lambda-runtime: python v3.12
      x-lambda-function: getJobsList.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: getJobsActionedList
      parameters:
       - name: group
         in: query
         schema:
           type: string
           enum: [technician, contractor]
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobResponse'
        '400':
          description: Invalid ID supplied
        '404':
          description: Job not found
        '405':
          description: Validation exception
      security:
        - BearerAuth: []
            
  /jobs/{jobId}/approve: 
    post:
      tags:
        - jobs
      summary: Approve an job "status === pending --> in progress"
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postApproveRequest.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: postApproveRequest
      requestBody:
        description: Approve an existing pending job
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobApproveRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref:  '#/components/schemas/JobApprovedResponse'
        '405':
          description: Invalid input
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  
  /jobs/{jobId}/reject: 
    post:
      tags:
        - jobs
      summary: Reject a pending job Set "status === pending --> rejected"
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postRejectRequest.py
      operationId: addRejectJob
      x-database: crud-nosql-app-maintenance-requests-table
      requestBody:
        description: Reject a job request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pet'
          application/xml:
            schema:
              $ref: '#/components/schemas/Pet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Pet'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Pet'
        '405':
          description: Invalid input
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /jobs/{jobId}/action: 
    post:
      tags:
        - jobs
      summary: technician action a job "status === in progess --> complete"
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postJobAction.py
      x-database: crud-nosql-app-maintenance-action-table
      operationId: postJobAction
      requestBody:
        description: Approve an existing pending job
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobApproveRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref:  '#/components/schemas/JobApprovedResponse'
        '405':
          description: Invalid input
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /jobs/{jobId}:
    get:
      tags:
        - jobs
      summary: get job by id from database (filterable)
      description: Get all the jobs that are pending
      x-lambda-runtime: python v3.12
      x-lambda-function: getJobsPendingById.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: getJobsPendingById
      parameters:
        - name: jobId
          in: path
          description: ID of job to be deleted
          required: true
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          schema:
           type: string
           enum: [pending, in_progress, rejected, completed]

      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'          
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'
        '400':
          description: Invalid status value
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  
    put:
      tags:
        - jobs
      summary: update a item by id from database (filterable)
      description: Update an item in the database tables
      x-lambda-runtime: python v3.12
      x-lambda-function: updateJobById.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: updateJobById
      parameters:
        - name: jobId
          in: path
          description: ID of job to update
          required: true
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          schema:
           type: string
           enum: [pending, in_progress]
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'          
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'
        '400':
          description: Invalid status value
      security:
        - petstore_auth:
            - write:pets
            - read:pets
    delete:
      tags:
        - jobs
      summary: delete an item by id from database (filterable)
      description: Delete the pending job by id
      x-lambda-runtime: python v3.12
      x-lambda-function: deleteJobById.py
      x-database: crud-nosql-app-maintenance-requests-table
      operationId: deleteJobById
      parameters:
        - name: jobId
          in: path
          description: ID of job to be deleted
          required: true
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          schema:
           type: string
           enum: [pending, in_progress]
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'          
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'
        '400':
          description: Invalid status value
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /jobs/{jobId}/jobcard:
    get:
      tags:
        - jobs
      summary: Return a jobcard for a single job
      description: Returns a single approved job
      x-lambda-runtime: python v3.12
      x-lambda-function: getMaintenanceJobcardById.py
      operationId: getMaintenanceJobcardById
      parameters:
        - name: jobId
          in: path
          description: ID of job to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Pet'
        '400':
          description: Invalid ID supplied
        '404':
          description: Pet not found
      security:
        - api_key: []
        - petstore_auth:
            - write:pets
            - read:pets
            
  /assets-data:
    get:
      tags:
        - assets
      summary: get list of all assets
      description: get list of all assets
      x-lambda-runtime: python v3.12
      x-lambda-function: getAssetsList.py
      operationId: getAssetsList
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
    post:
      tags:
        - assets
      summary: create a new asset
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postCreateAsset.py
      operationId: postCreateAsset
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetRequest'
      security:
        - petstore_auth:
            - write:pets
            - read:pet

  /assets-data/{assetId}:
    get:
      tags:
        - assets
      summary: Get single asset by assetId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: getAssetById.py
      operationId: getAssetById
      parameters:
        - name: assetId
          in: path
          description: ID of pet to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  
    put:
      tags:
        - assets
      summary: Update single asset by assetId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: updateAssetById.py
      operationId: updateAssetById
      parameters:
        - name: assetId
          in: path
          description: ID of pet to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
  
    delete:
      tags:
        - assets
      summary: Delete single asset by assetId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: deleteAssetById.py
      operationId: deleteAssetById
      parameters:
        - name: assetId
          in: path
          description: ID of pet to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /assets-data/location:
    get:
      tags:
        - assets
      summary: Get assets by location assigned to user
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: getAssetsByLocation.py
      x-database-1: crud-nosql-app-users-table
      x-database-2: crud-nosql-app-assets-table
      operationId: getAssetByLocation
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '401':
          description: Unauthorized
        '500':
          description: Server exception
          
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
            
  /users/get-current-user: 
    get:
      tags:
        - users
      summary: Return the current signed in user
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: getUser.py
      operationId: getUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                schema:
                $ref: '#/components/schemas/UserResponse'
      security:
        - api_key: []
            
  /users: 
    get:
      tags:
        - users
      summary: get all the users from database (filterable)
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: getUserList.py
      operationId: getUserList
      parameters:
       - name: group
         in: query
         schema:
           type: string
           enum: [technicians, contractors, users, manager]
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponse'
      security:
        - api_key: []
        
    post:
      tags:
        - users
      summary: Create a new user
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postUser.py
      operationId: postUser
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
        - petstore_auth:
            - write:pets
            - read:pet
  
  /users/{userId}:
    get:
      tags:
        - users
      summary: Get user by userId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: getUserById.py
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          description: ID of user to return user data
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
    put:
      tags:
        - users
      summary: Update user by userId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: updateUserById.py
      operationId: updateUserById
      parameters:
        - name: userId
          in: path
          description: ID of user to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
    delete:
      tags:
        - users
      summary: Delete user by userId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: deleteUserById.py
      operationId: deleteUserById
      parameters:
        - name: userId
          in: path
          description: ID of user to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /admin/confirm-user-signup:
    post:
      tags:
        - admin
      summary: Trigger lambda to update user after signup
      description: Check if this route is still required
      x-lambda-runtime: python v3.12
      x-lambda-function: postConfirmationTrigger.py
      operationId: postConfirmationTrigger
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /admin/resend-temp-password:
    options:
      tags:
        - admin
      summary: Resend the temporary password
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postConfirmationTrigger.py
      operationId: optionsResendTempPassword
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
            
  /admin/resend-temp-password/{userId}:
    post:
      tags:
        - admin
      summary: Resend the temporary password
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postResendTempPassword.py
      operationId: postResendTempPassword
      parameters:
        - name: userId
          in: path
          description: ID of user to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
        
  /comments:
    get:
      tags:
        - comments
      summary: Get the list of comments
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: getCommentsList.py
      operationId: getCommentsList
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '405':
          description: Invalid input
          
    post:
      tags:
        - comments
      summary: Create a new comment
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: postComment.py
      operationId: postComment
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '405':
          description: Invalid input
          
  /comments/{commentId}:
    get:
      tags:
        - comments
      summary: Get comment by ID
      description: ''
      operationId: getCommentById
      parameters:
        - name: commentId
          in: path
          description: ID of comment that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid ID supplied
        '404':
          description: Comment not found
    
    put:
      tags:
        - comments
      summary: Update comment by userId
      description: ''
      x-lambda-runtime: python v3.12
      x-lambda-function: updateCommentById.py
      operationId: updateCommentById
      parameters:
        - name: userId
          in: path
          description: ID of user to update
          required: true
          schema:
            type: integer
            format: int64
        - name: commentId
          in: path
          description: ID of comment that needs to be fetched
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - petstore_auth:
            - write:pets
            - read:pets
          
components:
  schemas:
    # Schema for Users "POST, PUT" 
    UserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        
        group:
          type: string
          description: User role/group
          example: admin
          enum:
            - admin
            - technician
            - contractor
            - manager
            - user
        
        family_name:
          type: string
          description: User surname
          example: "Petersen"

        name:
          type: string
          description: User first name
          example: "Fabian"

        location:
          type: string
          description: User location
          example: "Cape Town"

        mobile:
          type: string
          description: South African mobile number
          example: "0821234567"
          pattern: "^0[6-8][0-9]{8}$"

      required:
        - email
        - group
        - family_name
        - name
        - location
        - mobile

      xml:
        name: user

    UserResponse:
      type: object
      properties:
        id:
          type: string
          example: "33bcf2e8-b091-905d-5372-00c567c43a45"

        email:
          type: string
          format: email
          example: "user@example.com"

        name:
          type: string
          example: "Fabian"

        family_name:
          type: string
          example: "Petersen"

        username:
          type: string
          description: Cognito username
          example: "fabian.petersen"

        email_verified:
          type: boolean
          description: Whether the user's email is verified
          example: true

        status:
          type: string
          description: User account status
          example: CONFIRMED
          enum:
            - UNCONFIRMED
            - CONFIRMED
            - ARCHIVED
            - COMPROMISED
            - UNKNOWN
            - RESET_REQUIRED
            - FORCE_CHANGE_PASSWORD

        group:
          type: string
          description: User role/group
          example: admin
          enum:
            - admin
            - technician
            - contractor
            - manager
            - user

        location:
          type: string
          example: "Cape Town"

        userCreated:
          type: string
          format: date-time
          description: User creation timestamp
          example: "2024-10-01T12:00:00Z"

        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-10-10T15:30:00Z"

        mobile:
          type: string
          description: South African mobile number
          example: "0821234567"
          pattern: "^0[6-8][0-9]{8}$"

      required:
        - id
        - email
        - name
        - family_name
        - username
        - email_verified
        - status
        - group
        - location
        - userCreated
        - updatedAt
        - mobile

      xml:
        name: userResponse
        
    AssetRequest:
      type: object
      required:
        - business_unit
        - area
        - equipment
        - assetID
        - condition
        - location
      properties:
        business_unit:
          type: string
        area:
          type: string
        equipment:
          type: string
        assetID:
          type: string
        condition:
          type: string
        location:
          type: string
        serialNumber:
          type: string
        additional_notes:
          type: string

    AssetImage:
      type: object
      properties:
        bucket:
          type: string
        filename:
          type: string
        url:
          type: string
        key:
          type: string
        content_type:
          type: string

    AssetResponse:
      allOf:
        - $ref: '#/components/schemas/AssetRequest'
        - type: object
          required:
            - id
            - createdAt
          properties:
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            images:
              type: array
              items:
                $ref: '#/components/schemas/AssetImage'
    
    # Job Request
    JobRequest:
      type: object
      required:
        - location
        - type
        - priority
        - equipment
        - impact
        - description
      properties:
        location:
          type: string
        type:
          type: string
        priority:
          type: string
        equipment:
          type: string
        impact:
          type: string
        jobComments:
          type: string
          default: ""
        description:
          type: string
        area:
          type: string
        assetID:
          type: string
          
    # Presigned Image Url Schema
    JobImage:
      type: object
      properties:
        key:
          type: string
        url:
          type: string
        filename:
          type: string
  
        #  Job Requests "Pending / Rejected"
        
    JobResponse: 
      allOf:
        - $ref: '#/components/schemas/JobRequest'
        - type: object
          required:
            - id
            - jobCreated
            - status
            - jobcardNumber
          properties:
            id:
              type: string
            jobCreated:
              type: string
              format: date-time
            completed_at:
              type: string
              format: date-time
            jobcardNumber:
              type: string
            status:
              type: string
            requested_by:
              type: string
            images:
              type: array
              items:
                $ref: '#/components/schemas/JobImage'
            reject_message:
              type: string
            rejected_at:
              type: string
              format: date-time
            rejected_by:
              type: string
              
    # Job Response 'status === approved'
    JobApprovedResponse:
      allOf:
        - $ref: '#/components/schemas/JobRequest'
        - type: object
          required:
            - id
            - jobCreated
            - jobcardNumber
            - status
      properties:
        id:
          type: string
        jobCreated:
          type: string
          format: date-time
        jobcardNumber:
          type: string
        status:
          type: string
        targetDate:
          type: string
          format: date-time
        assign_to_group:
          type: string
        assign_to_name:
          type: string
        requested_by:
          type: string
        approved_at:
          type: string
          format: date-time
        approved_by:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/JobImage'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    api_key:
      type: apiKey
      name: api_key
      in: header